/*Content Settings*/

html, body, #wrapper {height: 100%;}

body > #wrapper { height: auto; min-height: 100%; }

#content { overflow: auto; padding-bottom: 30px; } 

#footer {
    position: relative;
    margin-top: -30px; 
    height: 30px;
    clear: both;
    bottom: 0px;
    right: 0px;
    text-align: right;
    color: #C0C0C0;
} 

body:before { 
    content: "";
    height:100%;
    float: left;
    width: 0;
    margin-top: -32767px;
}



/*HEADER STYLES */
.main-title {
	font-family: 'Droid Serif', serif;
	color: black;
	font-weight: 400;
	font-size: 45px;
}

.header-title {
	font-family: 'Droid Serif', serif;
	color: #330033;
	font-size: 15px;
	font-weight: 700;
}
#header-subtitle {
	color: darkgray;
	text-align: right;
	font-size: 15px;
	margin-top: 20px;
}

#header{
	margin-top: 20px;
	display: inline-block;
}

#navigation {
	display: inline;
}

#code {
	background-color: #330033;
	color: #fff;
	padding: 8px 10px;
}

#career {
	background-color: #471947;
	color: #fff;
	padding: 8px 10px;
}

#create {
	background-color: #6C476C;
	color: #fff;
	padding: 8px 10px;
}
#contact {
	background-color: #957A95;
	color: #fff;
	padding: 8px 10px;
}

/*Lists*/
#list {
	margin-top: 20px;
}

.publications {
	text-decoration: none;
	line-height: 10px;
	list-style-type: none;
	text-align: right;
}

.skills {
	line-height: 10px;
	text-align: center;
	list-style: none;
	background-color: white;
	padding: 5px;
}

/*Buttons*/
#portfolio-button, #skills-button {
	background-color: #330033;
	color: white;
}

/*Icons*/

.icon {
	width: 50%;
}

/*Backbone Views*/

#section-title {
	font-family: 'Droid Serif', serif;
	color: black;
	font-size: 20px;	
	margin-top: 50px;
	padding: 10px 0;
	display: inline-block;
}

#main-content {
	background-color: #F0F0F0;
	padding: 20px;
	min-height: 275px;
}

/*PROJECTS*/

#single-project {
	max-height: 350px;
}

.project-li {
	list-style: none;
}

.project-photo {
	width: 35%;
	height: auto;
	border: 5px solid lightgray;
}

