<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>karynn elio tran</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-57569035-1', 'auto');
	  ga('send', 'pageview');

	</script>
	
</head>
<body>

	<div id="wrapper">
		<div class="container">
			<div class="row twelve columns" id="header">
				<div class="row six columns">
					<h1 class="main-title">karynn elio tran<h1>
					</div>
					<div class="row six columns">
						<h5 id="header-subtitle">{ webDeveloper . designEnthusiast . storyTeller }</h5>
					</div>
				</div>
				<div class="row twelve columns" id="navigation">
					<div class="row three columns" id="code">code</div>
					<div class="row three columns" id="career">career</div>
					<div class="row three columns" id="create">create</div>
					<div class="row three columns" id="contact">contact</div>
				</div>

				<div class="row twelve columns" id="section-title"></div>	

				<div class="row twelve columns" id="main-content">
				</div>

				<div id="footer">
					this site was built with HTML, CSS, jQuery, Backbone & Underscore &#9829
				</div>
			</div>
		</div>
	</div>

<!-- scripts	 -->

		<script type="text/template" id="contact-template">
		<center>
		<div class="row twelve columns">
			<p class="header-title">I'm currently on a journey to find a company I'd be passionate about working for, products I'd be proud to develop, and people I'd enjoy collaborating with. If you are interested in working together, feel free to email me!</p>
		</div>
		<div class="row twelve columns">		
			<div class="row two columns">
				<p>email</p>
				<a href="mailto:karynn.tran@gmail.com?Subject=Hi Karynn!" target="_blank"><img src="images/icons/email.png" class="icon"></a>
			</div>
			<div class="row two columns">
				<p>resume</p>
				<a href="http://karynneliotran.com/karynn_elio_tran.pdf" target="_blank"><img src="images/icons/resume.png" class="icon"></a>
			</div>
			<div class="row two columns">
				<p>general assembly</p>
				<a href="https://profiles.generalassemb.ly/karynn-elio-tran" target="_blank"><img src="images/icons/ga.png" class="icon"></a>
			</div>
			<div class="row two columns">
				<p>github</p>
				<a href="https://github.com/karynntran" target="_blank"><img src="images/icons/github.png" class="icon"></a>
			</div>
			<div class="row two columns">
				<p>linkedin</p>
				<a href="https://linkedin.com/in/karynneliotran" target="_blank"><img src="images/icons/linkedin.png" class="icon"></a>
			</div>
			<div class="row two columns">
				<p>twitter</p>
				<a href="https://twitter.com/karynnwhocodes" target="_blank"><img src="images/icons/twitter.png" class="icon"></a>
			</div>				
		</div>
		</center>
		</script>	

		<script type="text/template" id="create-template">
		<div class="row twelve columns">
			<p>When I'm not coding, I'm all about creating. Crafting, cooking and capturing travel adventures and unique moments are just a few of my favorite things. Scroll through to take a peek at what I like to dabble in during my spare time.</p>
		</div>	
		<div class="row twelve columns">		
			<div class="row four columns">
				<a href="https://www.flickr.com/photos/124520799@N02/sets/72157645686683272/" target="_blank">Photo Gallery</a>	
			</div>

			<div class="row eight columns">
				
				MORE COMING SOON!

			</div>	
		</div>	
		</script>	

		<script type="text/template" id="career-template">
			<div class="row twelve columns">
				<div class="six columns">
					<p class="header-title">{ STORYTELLER & QUALITATIVE ANALYST }</p>
					<strong>COMMUNISPACE CORPORATION</strong><br>
					I've worked with awesome teams, for multiple Fortune 500 companies such as Heinz, Pepsi-Co and Hilton Worldwide. On a daily basis, I took journeys through consumers' lives by way of research design, dug up fascinating insights through their experiences and brought their stories to life in visually engaging reports.
				</div>	
				<div class="six columns">
					<p class="header-title">{ PUBLISHER & PROJECT MANAGER }</p>
					<strong>MEDIAPLANET PUBLISHING</strong><br>
					I've published two independent supplements in USA Today and The Washington Post, educating more than one million readers about work/life balance in the workplace and the importance of digestive health. Getting Sharon Osbourne and Pearl Jam's Mike McCready involved in these campaigns was pretty cool, too.
					<ul id="list">
						<li class="publications"><a href="http://doc.mediaplanet.com/all_projects/6062.pdf" target="_blank">Work/Life Balance - USA Today</a></li>
						<li class="publications"><a href="http://doc.mediaplanet.com/all_projects/6648.pdf" target="_blank">Colon Health - The Washington Post</a></li>
					</ul>
				</div>	
			</div>
		</script>

		<script type="text/template" id="portfolio-template">
			<div class="row twelve columns">

				<div class="row three columns">
					<button id="skills-button">&#9664  CODING SKILLS</button>
					<button id="wine-dine-button">Wine and Dine</button>
					<button id="games-button">Games</button>
					<button id="seek-button">Seek Travel</button>
					<button id="comic-button">Comic SmashUp</button>
				</div>

				<div class="row nine columns" id="single-project">
				</div>				

			</div>		
		</script>

		<script type="text/template" id="project-template">
			<ul>
				<li class="project-li"><img src="<%=photo%>" class="project-photo">
				<li class="project-li"><button><a href="<%= url %>" target="_blank">Check it out</a></button></li>			
				<li class="project-li header-title"><%= name %></li>
				<li class="project-li"><%= description %></li>
				<li class="project-li">Tools Used: <%= languages %></li>
			</ul>						
		</script>						

		<script type="text/template" id="code-template">
			<button id="portfolio-button">PORTFOLIO   &#9654</button>

			<div class="row twelve columns">
				<center><p class="header-title">I recently graduated from the Web Development Immersive Program at General Assembly. Lemurs for Life!</p></center>
			</div>			
			<div class="row twelve columns">
				<center>
				<div class="three columns">
					<p class="header-title">LANGUAGES</p>
					<ul class="skills">
						<li class="skills">Ruby</li>
						<li class="skills">Javascript</li>
						<li class="skills">HTML5</li>	
						<li class="skills">CSS3</li>
					</ul>
				</div>
				<div class="three columns">
					<p class="header-title">TOOLS</p>
					<ul class="skills">
						<li class="skills">Rails</li>
						<li class="skills">Sinatra</li>
						<li class="skills">Backbone</li>
						<li class="skills">Underscore</li>	
						<li class="skills">AJAX</li>
						<li class="skills">APIs</li>
					</ul>
				</div>	
				<div class="three columns">
					<p class="header-title">STYLE</p>
					<ul class="skills">
						<li class="skills">SASS</li>
						<li class="skills">Bourbon</li>
						<li class="skills">Skeleton</li>	
					</ul>
				</div>	
				<div class="three columns">
					<p class="header-title">DATABASE</p>
					<ul class="skills">
						<li class="skills">PostgreSQL</li>
						<li class="skills">ActiveRecord</li>
						<li class="skills">BCrypt</li>	
					</ul>
				</div>	
				</center>									
			</div>								
		</script>

		<script type="text/template" id="about-me-template">
		<div class="row twelve columns">
		<div class="four columns">
		<p class="header-title"><strong>WHO</strong> I AM</p>
		<p class="header-text">
		A native New Yorker, currently in Manhattan; an Aquarius, born in the Year of the Rat, an ENFJ. I sometimes view life through thick-framed glasses or a Nikon lens, but most importantly through optimism.
		</p>
		</div>
		<div class="four columns">
		<p class="header-title"><strong>WHAT</strong> I AM</p>
		<p class="header-text">
		A budding full-stack web developer, constantly fascinated by  beautiful design. Once a qualitative storyteller by trade, but forever an inquisitive researcher by nature. An advocate for seeing consumers as humans.
		</p>
		</div>
		<div class="four columns">
		<p class="header-title"><strong>WHAT ELSE</strong> I AM</p>
		<p class="header-text">I am a life-long student. I travel to discover, not to relax. I pluck a ukulele, though not very well. I may be addicted to coffee. I love anything to do with food. I believe art can be found in almost anything.</p>
		</div>
		</div>
		</script>

		<script src="javascripts/jquery.js"></script>
		<script src="javascripts/underscore.js"></script>
		<script src="javascripts/backbone.js"></script>

<!-- MODELS -->
		<script src="backbone/models/project-model.js"></script>

<!-- VIEWS -->

		<script src="backbone/views/contact-view.js"></script>
		<script src="backbone/views/create-view.js"></script>
		<script src="backbone/views/about-me-view.js"></script>
		<script src="backbone/views/code-view.js"></script>
		<script src="backbone/views/career-view.js"></script>
		<script src="backbone/views/portfolio-view.js"></script>

		<script src="javascripts/main.js"></script>
	</body>
	</html>